body
{
    background: #F2F2F2;
}

h1
{
    text-align: center;
    margin-top: 100px;
    color: #000000;
    text-decoration: underline;
}

#conteneur
{
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 500px;
    background: #FFFFFF;
}

#conteneur div
{
  text-align: left;
  margin-left: 20%;
}

label
{
    display: inline-block;
    width: 200px;
}
